.reactPagination {
  display: flex;
  justify-content: center;

  ul {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  li {
    list-style: none;
    [role="button"] {
      padding: 10px 15px;
      background-color: #fd8281;
      color: #fff;
      margin: 2px;
      border-radius: 10px;
      text-decoration: none;
      :hover {
        background-color: #ccb5ab;
        color: white;
      }
    }
  }
}
