.related_courses :global {
  .swiperNavPrev,
  .swiperNavNext {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 35px rgb(40 42 54 / 18%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: 0.6s;

    svg {
      font-size: 24px;
      color: #000;
    }

    &:hover {
      background: #000;
      svg {
        color: #fff;
      }
    }
  }
  .swiperNavPrev {
    left: -70px;
  }
  .swiperNavNext {
    right: -70px;
  }
  .card {
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    margin-bottom: 30px;

    .img-wrap {
      .label {
        right: 0;
        bottom: -5%;
        background: var(--dark-orange);
        font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;
      }
    }

    .card-body {
      padding: 5rem 0 3rem 0;

      .inner-content {
        margin-bottom: 3rem;

        .card-title {
          font-family: 'Poppins', sans-serif;
          width: 98%;
        }
      }
      h3 {
        a {
          font-size: 1.6rem;
          color: #232323;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: var(--dark-orange);
          }
        }
      }

      a {
        color: #333045;
        font-size: 1.2rem;
        &:hover,
        &:hover svg {
          color: blue;
          stroke: blue;
        }
      }
    }
  }
}
